* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #333;
    color: white;
    padding: 60px 20px;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Navigation Bar */
nav {
    background-color: #2f8ae4;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #007bff;
}

nav .navbar-nav {
    align-items: center;
    display: flex;
    justify-content: center;
}

nav .navbar-nav .nav-item {
    margin: 0 15px;
}

nav .navbar-light .navbar-nav .nav-link {
    font-weight: 500;
}

/* Section Styling */
section {
    padding: 60px 20px;
}

section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Skills Section */
.skills i {
    margin: 10px;
    color: #007bff;
    text-align: center;
}

/* Projects Section */
.project img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

/* Contact Section */
#contact p {
    font-size: 1.1rem;
    color: #333;
}

/* Footer Styling */
footer {
    background-color: #f8f9fa;
    padding: 30px 20px;
}

footer p {
    font-size: 1rem;
    color: #333;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #007bff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .skills i {
        font-size: 2.5rem;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }

    .project img {
        width: 100%;
    }
}